@font-face {
    font-family: 'MyFont';
    src: url('../fonts/Officiallyfunky.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'MyFont', sans-serif;
}

.container-fluid {
    padding: 0px;
}

.custom-header {
    padding: 22px 104px 21px 36px;
    background: #F8DEE7;

}

.logo-box img {
    width: 140px;
    height: 78px;
}

.menu-nav ul {
    display: flex;
    justify-content: center;
    gap: 45px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu-nav ul li a {
    text-decoration: none;
    color: #000;
    font-size: 24px;
    font-weight: 500;
    display: inline-block;
}

.menu-nav ul li a.active {
    color: #E8098D;
}

.icon-box {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 30px;
}

.icon-box img {
    width: 35px;
    height: 35px;
    object-fit: contain;
}

.hero-section {
    margin: 0;
    padding: 0;
}

.hero-banner {
    background-image: url("../image/hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 817px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    overflow: hidden;
}

.hero-content h1 {
    font-size: 68px;
    font-family: "Merienda", cursive;
    color: #ffffff;
    line-height: 1.2;
    font-weight: 700;
    max-width: 550px;
    margin: 0;
    position: absolute;
    top: 86px;
    left: 725px;

}

.brand-strip {
    background: #F8DEE7;
    padding: 16px 126px;
}

.brand-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
}

.brand-text {
    font-family: "Merienda", cursive;
    font-size: 38px;
    font-weight: 700;
    color: #221F20;
    line-height: 1;
}

.about-section {
    padding: 0;
}

.about-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.about-content {
    padding: 63px 98px 51px 55px;
    background: #FFFFFF;
    height: 100%;
}

.about-content h2 {
    font-size: 44px;
    font-weight: 700;
    color: #E8098D;
    margin-bottom: 53px;
    font-family: "Merienda", cursive;
}

.about-text {
    font-size: 28px;
    color: #000;
    margin-bottom: 53px;
}

.about-content h3 {
    font-size: 38px;
    font-weight: 600;
    color: #E8098D;
    margin-bottom: 50px;
    font-family: "Merienda", cursive;
}

.shop-btn {
    text-decoration: none;
    background: #E8098D;
    color: #FFFFFF;
    padding: 20px 90px;
    border-radius: 20px;
    display: inline-block;
    font-size: 28px;
}


.mixing-section {
    background: #ececec;
    padding: 0px 0;
}

.mixing-image {
    position: relative;
    z-index: 2;
    margin-right: -120px;
    padding: 90px 0 90px 0;
}

.mixing-image img {
    width: 100%;
    height: 522px;
    display: block;
}

.mixing-content {
    background: #f40093;
    padding: 129px 108px 90px 200px;
    height: auto;
    position: relative;
}

.mixing-content h2 {
    font-size: 50px;
    color: #fff;
    margin-bottom: 25px;
    font-family: "Merienda", cursive;
}

.mix-item {
    margin-bottom: 25px;
}

.mix-item h3 {
    font-size: 36px;
    color: #fff;
    padding-bottom: 15px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.7);
}

.mix-item p {
    font-size: 28px;
    color: #fff;
    margin: 0;
}